/* Angular-animate transitions */
.ng-scope {
	/*
	position: relative;
	
	&.ng-enter, &.ng-leave {
	  -webkit-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
	  -moz-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
	  -ms-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
	  -o-transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
	  transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000) all;
	  position: absolute;
	  
	  @media #{$small}{
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
	  }
	} 
	 
	&.ng-enter {
	  left: 100%;
	  opacity: 0;
	  
	  @media #{$small}{opacity: 1;}
	}
	
	&.ng-enter.ng-enter-active {
	  left: 0;
	}
	 
	&.ng-leave {
	  left: 0;
	}
	
	&.ng-leave.ng-leave-active {
	  left: -100%;
	}
	*/
}