.contact-list {
	list-style: none;
	
	li {
		position: relative;
		padding: 10px 0 10px 30px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		@extend .transition;
		
		&:hover {
			border-color: $page-color;
			
			.edit-weights {
				opacity: 1;
			}
		}
		
		&:before {
			content: '';
			position: absolute;
			top: 13px;
			left: 0;
			width: 16px;
			height: 16px;
			border-radius: 8px;
		}
		
		/* Color the circles according to weight */
		@for $i from 1 through 10 {
			&[data-weight='#{$i}']:before {
				background: mix($pri-color-1, white, ($i * 10%));
			}
		}
	}
}