.contact-list {
	list-style: none;
	
	li {
		position: relative;
		margin-bottom: 20px;
		padding-left: 30px;
		
		&:before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
			border-radius: 8px;
		}
		
		/* Color the circles according to weight */
		@for $i from 1 through 10 {
			&[data-weight='#{$i}']:before {
				background: mix($pri-color-1, white, ($i * 10%));
			}
		}
	}
}