.header.chum {
	.navbar {
		background-color: $acc-color-1;
		border: none;
		border-radius: 0;
	}
	
	.navbar-brand {
		img {width: 83px;}
	}
	
	.navbar-default .navbar-nav > li > a {
		color: white;
		
		&:hover {
			color: $page-color;
		}
	}
	
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: white;
		background: mix($pri-color-3, $acc-color-1, 10%);
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	/* Hamburger menu */
	.navbar-toggle {
		color: white;
		width: 36px;
		height: 36px;
		border-radius: 18px;
		border: none;
		@extend .transition;
		
		&:hover, &:focus {background: mix($pri-color-3, $acc-color-1, 10%);}
		
		i {
			position: absolute;
			top: 9px;
			left: 10px;
			font-size: 18px;
		}
	}
	
}