body {
	color: $text-color;
	font-size: 16px;
	font-family: $font-1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 80px;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

h1 {
	margin-top: 5px;
	
	input {
		float: right;
    font-size: 16px;
    padding: 8px 10px 2px;
    border-radius: 3px;
    border: 1px solid $page-color;
		
		&:focus {
			outline: none;
			border-color: $pri-color-1;
		}
		
		&:after {
			content: '';
			clear: both;
		}
		
		@media #{$small} {display: none;}
	}
}

h1, p {
	margin-bottom: 30px;
}

.hide-small {
	@media #{$small} {display: none;}
}