body {
	color: $text-color;
	font-size: 16px;
	font-family: $font-1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

h1, p {
	margin-bottom: 30px;
}